@import url('https://fonts.googleapis.com/css?family=Special+Elite');


*:focus {
    outline: none;
}

* {
    font-family: 'Special Elite', cursive;
}

.card-placeholder {
    background: rgb(0, 0, 0);
}

.board {
    padding: 10px;
    text-align: center;
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/DW5RXHCDT5.jpg");
    height:100vh;
    background-size: cover;

}
.column {
    display: inline-block;
    padding: 50px;
    margin: 50px;
    border: 1px solid #ffffff;
    box-shadow: 3px 3px 4px rgba(33,33,33,.7);
    background-color: rgba(255, 239, 213, 0.85);
}

.card {
    padding: 5px;
    margin: 10px;
    border: 1px solid rgba(156, 156, 156, 0.71);
    background-color: rgba(255, 255, 0, 0.18);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);



}

ul {
    list-style-type: none;
    padding-left: 0;
}

h2 {
    font-size: 1rem;
}

.column-title {
    font-size: 1.5rem;
    padding: 15px;
}

.create-column {
    border-radius: 5px;
    padding:10px;
}

.add-card {
    border-radius: 5px;
    padding: 10px;
}

.btn-delete {
    border-radius: 5px;

}

button {
    background-color: rgba(214, 214, 214, 0.8);
}

button:hover {
    color: #949494;
}